*.class
*.ear
*.ipr
*.iws
*.jar
*.un~
*.war
*~
.classpath
.idea/
.idea_modules/
.mtj.tmp/
.netrwhist
.project
.settings
/*.iml
Session.vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
hs_err_pid*
out/
target
